// MEDIA QUERY MANAGER
// Start MIXINS

@mixin respond($breakpoint) {
	@if $breakpoint == sm {
		@media (min-width: 576px) {
			@content;
		}
	}
	@if $breakpoint == md {
		@media (min-width: 768px) {
			@content;
		}
	}
	@if $breakpoint == lg {
		@media (min-width: 992px) {
			@content;
		}
	}
	@if $breakpoint == xl {
		@media (min-width: 1200px) {
			@content;
		}
	}
}
// ENd MIXINS

:root {
	--clr-dark: #1a1a1a;
	--clr-light: #f9f9f9;
	--clr-pink-shade1: #e91e63;
	--clr-pink-shade2: #c2185b;
	--clr-purple-shade1: #9c27b0;
	--clr-purple-shade2: #5727b0;
	--clr-blue-shade1: #272ab0;
	--clr-blue-shade2: #276bb0;
	--clr-blue-shade3: #57acdc;
	--clr-green-shade1: #57dcbe;
	--clr-green-shade2: #60c689;

	--personal: #3a82ee;
	--business: #e91e63;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--personal-glow: 0px 0px 8px 2px rgba(58, 130, 238, 0.75);
	--business-glow: 0px 0px 8px 2px rgba(231, 45, 154, 0.75);
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; // 1rem = 10px
	overflow-x: hidden;
}

body {
	background-color: var(--clr-dark);
	color: var(--clr-light);
	font-family: 'Noto Sans Mono', monospace;
}

.edit-mode {
	opacity: 0.5;
}

.done {
	text-decoration: line-through;
	opacity: 0.3;
}

ul {
	list-style-type: none;
	padding: 0;
}

input:not([type='radio']):not([type='checkbox']),
button {
	appearance: none;
	border: none;
	outline: none;
	cursor: initial;
	color: var(--clr-light);
}

input[type='radio'],
input[type='checkbox'] {
	display: none;
}

label {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	border: 2px solid var(--personal);
	box-shadow: var(--personal-glow);
}

.business {
	border: 2px solid var(--business);
	box-shadow: var(--business-glow);
}

.icon::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	box-shadow: var(--business-glow);
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.icon.personal::after {
	box-shadow: var(--personal-glow);
	background-color: var(--personal);
}

input:checked ~ .icon::after {
	width: 1.2rem;
	height: 1.2rem;
	opacity: 1;
}

a {
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
	margin-top: 1rem;
	display: inline-block;
}

a:hover {
	color: #e91e63;
}
