/*
Colors: 


*/
:root {
  --clr-dark: #1a1a1a;
  --clr-light: #f9f9f9;
  --clr-pink-shade1: #e91e63;
  --clr-pink-shade2: #c2185b;
  --clr-purple-shade1: #9c27b0;
  --clr-purple-shade2: #5727b0;
  --clr-blue-shade1: #272ab0;
  --clr-blue-shade2: #276bb0;
  --clr-blue-shade3: #57acdc;
  --clr-green-shade1: #57dcbe;
  --clr-green-shade2: #60c689; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-family: 'Noto Sans Mono', monospace; }

.edit-mode {
  opacity: 0.5; }

ul {
  list-style-type: none;
  padding: 0; }

input:not([type='radio']):not([type='checkbox']),
button {
  appearance: none;
  border: none;
  outline: none;
  cursor: initial;
  color: var(--clr-light); }

a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block; }

a:hover {
  color: #e91e63; }

.container {
  margin: 0 auto;
  width: 96%;
  padding: 2rem 4rem; }

.header__category {
  display: flex;
  gap: 2.6rem; }

.btn {
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  margin-left: 0.5rem;
  cursor: pointer; }

.edit-btn {
  background-color: var(--clr-green-shade2); }

.delete-btn {
  background-color: var(--clr-pink-shade1); }

.header__title {
  font-size: 2.8rem;
  margin-bottom: 2rem; }
  .header__title input {
    display: inline;
    min-width: 0;
    background: none; }

.header__subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.6rem; }

.header__form {
  margin-bottom: 2rem; }
  .header__form input {
    padding: 1.1rem;
    width: 100%;
    border-radius: 1rem;
    color: white;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    background-color: #333333; }
  .header__form .header__add-btn {
    background-color: var(--clr-pink-shade1);
    cursor: pointer;
    cursor: pointer !important; }

.header__category-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12.8rem;
  height: 10rem;
  background-color: #333333;
  font-size: 1.4rem;
  gap: 1rem;
  margin-bottom: 2rem; }

.task-list-box {
  margin-top: 2.6rem; }
  .task-list-box__subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0.6rem; }
  .task-list-box .task-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    background-color: #404040;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 0.8rem 1.2rem;
    transition: color 0.3s;
    cursor: pointer; }
    .task-list-box .task-list__item i {
      margin-right: 0.8rem; }
  .task-list-box .task-list__item:hover {
    background-color: #4d4d4d; }
